@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.accordion-item {
  border: 1px solid var.$text-color-secondary;
  margin-bottom: 1rem;
  background-color: #fff;
  .accordion-header {
    @extend %flex-justify-between;
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    user-select: none;
    .accordion-span-text {
      color: var.$fancy-olive;
    }
  }
  .accordion-content {
    padding: 0 0.5rem 1rem;
  }
}
