@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
    span {
        display: flex;
        align-items: center;
        img {
            margin: 0 0.5rem;
        };
    }
}