@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.faq {
  padding-top: calc(112.59px + 1rem);
  @extend %flex-center;
  .faq-wrapper {
    width: 600px;
    .text-content-wrapper {
      @extend %flex-center;
      h2 {
        margin-bottom: 0;
      }
    }
    .content-wrapper {
      border: 1px solid var.$light-grey;
      border-radius: var.$border-radius;
      .question-group {
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: 1px solid var.$light-grey;
        }
        &:nth-child(2n) {
          background-color: var.$light-ribbon;
        }
        .question {
          color: var.$fancy-olive;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
