@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.homepage {
  padding-top: calc(112.59px + 1rem);

  background: var.$pink-gradient;
  .banner {
    display: flex;
    justify-content: flex-end;
    @extend %wrap;
    &.second-image-text-content {
      justify-content: flex-start;
    }

    .banner-wrapper {
      position: relative;
      margin-bottom: calc(5.7rem + 4rem);

      .circle-banner {
        position: absolute;
        bottom: -7.5rem;
        left: -1px;
      }
    }

    &.second-image-text-content {
      .banner-wrapper {
        .circle-banner {
          left: auto;
          right: -1px;
        }
      }
    }
  }
  .homepage-wrapper {
    .homepage-content {
      .card-carousel {
        h2 {
          text-align: center;
          font-family: var.$font-family-secondary;
        }
        .arrow-wrapper {
          margin-top: 0.5rem;
          @extend %flex-center;
        }
        margin-bottom: 4rem;
      }
    }
  }
}
