@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.login {
  @extend %flex-center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var.$light-ribbon;
  .logo {
    margin-bottom: 2rem;
  }
  .login-wrapper {
    
    form {
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        label {
          align-self: flex-start;
          margin-bottom: 0.5rem;
          font-family: var.$font-family-gothic;
          font-size: var.$font-size-small;
        }
        input {
          width: 100%;
          background: transparent;
          border: 1px solid var.$light-grey;
          height: 40px;
          border-radius: var.$border-radius;
          margin-bottom: 1rem;
          padding-left: 0.5rem;
          &::placeholder {
            padding-left: 0.5rem;
          }
          &:focus {
            outline: none;
            box-shadow: none;
            border-color: var.$light-grey;
          }
        }
        .or {
          margin: 1rem 0;
        }

        .btn-black {
          color: #fff;
        }

        .button-wrapper {
          button {
            margin-bottom: 1rem;
            img {
              margin-right: 0.5rem;
            }
          }
        }
        .register-span {
          color: var.$fancy-olive;
          text-decoration: underline;
          margin-left: 0.2rem;
        }
      }
    }
    .sucessfull-login {
      padding: 2rem 0.5rem;
      border: 2px solid var.$ribbon-pink;
      border-radius: var.$border-radius;
      text-align: center;
      p {
        color: var.$black;
        font-size: var.$font-size-medium;
        margin-bottom: 2rem;
      }
      button {
        color: #fff;
        margin-bottom: 1rem;
      }
    }
  }
}
