@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 1rem;
  border-bottom: 1px solid var.$text-color-primary;
  z-index: 12333;
  .navbar-wrapper,
  .hamburger-menu-wrapper,
  .search-overlay-wrapper {
    @extend %flex-justify-between;
    @extend %wrap;
    padding: 1rem 0.5rem;
    .content-wrapper {
      cursor: pointer;
      &:not(:last-child) {
        padding-right: 0.5rem;
      }
    }
  }
  .hamburger-menu-wrapper,
  .search-overlay-wrapper {
    @extend %wrap;
  }
  .hamburger-menu,
  .search-overlay {
    @extend %hamburger-search-setup;
  }
  .hamburger-menu {
    z-index: 12312312312321312312312;
    border-bottom: 1px solid var.$text-color-primary;
    background-color: #fff;
    .links-wrapper {
      .dropdown {
        .new-products-title {
          font-size: var.$font-size-medium;
          color: var.$text-color-primary;
          font-style: italic;
          margin-bottom: 0.5rem;
        }
        .other-links {
          font-size: var.$font-size-medium;
          margin-bottom: 0.5rem;
          color: var.$black;
        }
        .dropdown-item {
          .dropdown-item-wrapper {
            p {
              font-size: var.$font-size-medium;
              margin-bottom: 0.5rem;
              cursor: pointer;
              @extend %flex-justify-between;
              img {
                max-width: 100%;
              }
            }
            .dropdown-content {
              ul {
                margin-bottom: 0;
                li {
                  font-size: var.$font-size-medium;
                  margin-bottom: 0.5rem;
                  color: var.$text-color-primary;
                }
              }
            }
          }
        }
      }
    }
    .links-down-wrapper {
      @extend %wrap;
      padding-top: 5rem;
      padding-bottom: 2rem;
      .navbar-links-down {
        .navbar-links-down-grouper {
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;
          img {
            margin-right: 0.5rem;
          }

          p {
            font-size: var.$font-size-medium;
            margin-bottom: 0;
            font-family: var.$font-family-secondary;
            color: var.$black;
          }
          .profile-logout {
            span {
              color: var.$black;
              font-family: var.$font-family-secondary;
            }
          }
          .login-register {
            span {
              color: var.$black;
              font-family: var.$font-family-secondary;
            }
          }
        }
      }
      @include mix.laptop-m-styles {
        padding-left: 15px;
      }
    }
  }
  .search-overlay {
    z-index: 123123121222122212221;
    .search-overlay-wrapper {
      input {
        width: 100%;
        height: 2rem;
        border: 1px solid var.$border-placeholder-color;
        border-radius: var.$border-radius;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        margin-right: 8px;
        &::placeholder {
          color: var.$border-placeholder-color;
          font-size: 1rem;
          padding-left: 0.5rem;
        }
      }
    }
  }
}
.hamburger-menu.open,
.search-overlay.open {
  right: 0;
}
