@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.product-detail-page {
  .cart-icon,
  .favorites-icon {
    position: fixed;
    right: -3%;
    transform: translate(-50%, -50%);
    z-index: 12312312312312312;
  }
  .cart-icon {
    top: 57%;
  }
  .favorites-icon {
    top: 50%;
  }
  color: var.$text-color-primary;
  @extend %flex-center;
  .product-detail-wrapper {
    max-width: 625px;

    .content-grouper-one {
      .product-title {
        font-size: var.$font-size-medium;
        color: var.$text-color-primary;
        font-family: var.$font-family-gothic;
      }
      img {
        margin-bottom: 0.5rem;
      }
    }
    .content-grouper-two {
      .images-wrapper {
        position: relative;
        .arrow-left-icon,
        .arrow-right-icon {
          position: absolute;
          bottom: 44%;
          cursor: pointer;
        }
        .arrow-left-icon {
          left: -12px;
        }
        .arrow-right-icon {
          right: -12px;
        }
        .image {
          display: flex;
          .product-image {
            width: 100px;
            height: 100px;
            max-width: 100%;
            &:not(:last-child) {
              margin-right: 0.5rem;
            }
            @media (max-width: 381px) {
              width: 90px;
              height: 90px;
            }
            @media (max-width: 345px) {
              width: 80px;
              height: 80px;
            }
            @media (max-width: 313px) {
              width: 70px;
              height: 70px;
            }
            @media (max-width: 279px) {
              width: 60px;
              height: 60px;
            }
            @media (max-width: 251px) {
              width: 50px;
              height: 50px;
            }
          }
          @media (min-width: 451px) {
            .product-image {
              width: 120px;
              height: 120px;
            }
          }
          @media (min-width: 529px) {
            .product-image {
              width: 140px;
              height: 140px;
            }
          }
          @media (min-width: 607px) {
            .product-image {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
    .content-grouper-three {
      .product-price {
        font-size: var.$font-size-medium;
        font-family: var.$font-family-gothic;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: var.$gold-gradient;
        margin-bottom: 1rem;
      }
    }
    .content-grouper-four {
      .content-grouper-four-wrapper {
        display: flex;
        .product-sizes {
          font-size: var.$font-size-medium;
          margin-bottom: 0;
        }
        .dropdown {
          padding: 0;
          margin: 0;
          .dropdown-content {
            .size-list,
            .color-list {
              padding: 0;
              display: flex;
              flex-direction: column;
              .size-item {
                display: flex;
                align-items: center;
                .size-name {
                  @extend %flex-center;
                  background-color: var.$ribbon-pink;
                  width: 30px;
                  height: 30px;
                  font-size: var.$font-size-small;
                  border-radius: var.$border-radius-small;
                }
              }
            }
          }
        }
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: var.$gold-gradient;
        margin-bottom: 1rem;
      }
    }
    .content-grouper-five {
      .content-grouper-five-wrapper {
        .dropdown {
          margin: 0;
          padding: 0;
          .dropdown-content {
            .size-list,
            .color-list {
              padding: 0;
              display: flex;
              flex-direction: column;
              .size-item {
                display: flex;
                align-items: center;
                .size-name {
                  @extend %flex-center;
                  background-color: var.$ribbon-pink;
                  padding: 0 0.7rem;
                  height: 30px;
                  font-size: var.$font-size-small;
                  border-radius: var.$border-radius-small;
                }
              }
            }
          }
        }
        display: flex;
        .product-colors {
          font-size: var.$font-size-medium;
          margin-bottom: 0;
        }
      }
      .product-condition {
        .product-condition-span {
          font-size: var.$font-size-small;
          text-decoration: underline;
          margin-left: 1rem;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: var.$gold-gradient;
        margin-bottom: 1rem;
      }
    }
    .content-grouper-six {
      .content-grouper-six-wrapper {
        .product-tags {
          display: flex;
          flex-wrap: wrap;
          div {
            box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
            border-radius: var.$border-radius;
            padding: 0.3rem 0.5rem;
            &:not(:last-child) {
              margin-right: 1rem;
            }
            @media (max-width: 569px) {
              margin-bottom: 0.5rem;
            }
          }
          @media (max-width: 569px) {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
