@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.product-card {
  .product-card-wrapper {
    img {
      margin-bottom: 0.5rem;
    }
    .product-title {
      color: var.$text-color-secondary;
      margin-bottom: 0.5rem;
    }
    .product-price {
      margin-bottom: 0.5rem;
      font-family: var.$font-family-gothic;
      font-size: var.$font-size-small;
      color: var.$text-color-primary;
    }
  }
}
