@use "../../css/abstracts/mixins" as mix;
@use "../../css/abstracts/variables" as var;
@use "sass:math";

.slider {
  width: 7000px;
  padding: 0.3rem 0;
  border-top: 1px solid var.$text-color-primary;
  color: var.$text-color-primary;
  font-size: var.$font-size-medium;
  z-index: 0;
  background: linear-gradient(
    135deg,
    #fff7f7 0%,
    #ffdbdb 11%,
    #ffc3c3 29%
  );
  .wrapper {
    display: flex;
    span {
        margin-right: 1rem;
    }
  }
}

.slider > * {
  display: inline-block;
  animation: text 40s infinite linear;
}

@keyframes text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4135px);
  }
}
