@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Cormorant Garamond", sans-serif;
}

a {
  text-decoration: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-0_5 {
  margin-bottom: 0.5rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

.btn-pink {
  background-color: #FFDBDB;
}

.btn-light-ribbon {
  background-color: #FFF6F6;
}

.btn-gold-gradient {
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
}

.btn-black {
  background-color: #232221;
}

.btn {
  color: #232221;
  border-radius: 0.6rem;
  font-family: "Gothic A1", sans-serif;
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.filter-btn {
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  border-radius: 0.6rem;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.25rem;
  color: #232221;
  width: 100%;
  border: none;
  padding: 0.8rem 0;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pre-register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #FFDBDB;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.cancel-btn {
  border: none;
  border-bottom: 1px solid #232221;
  background: transparent;
  cursor: pointer;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #232221;
}

p {
  margin-bottom: 1rem;
}

.increment-decrement-btn {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #C2C2C2;
  border: 1px solid #C2C2C2;
  background-color: transparent;
}

.dropdown-btn-details {
  width: 30px;
  height: 30px;
  background-color: #FFDBDB;
  border: none;
  border-radius: 0.4rem;
}

.footer .footer-container, .filter-form .filter-form-window, .container, .dropdown, .navbar .navbar-wrapper,
.navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper, .navbar .hamburger-menu .links-down-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .footer .footer-container, .filter-form .filter-form-window, .container, .dropdown, .navbar .navbar-wrapper,
  .navbar .hamburger-menu-wrapper,
  .navbar .search-overlay-wrapper, .navbar .hamburger-menu .links-down-wrapper {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.register, .register .register-wrapper form .image-upload-group, .pre-register, .login, .faq, .faq .faq-wrapper .text-content-wrapper, .location, .location .location-wrapper .text-content-wrapper, .contact-us, .contact-us .contact-us-wrapper .text-content-wrapper, .about-us, .about-us .about-us-wrapper .text-content-wrapper, .brand-page, .filter-form .filter-form-window form .button-group, .content-grouper-seven .pagination, .product-detail-page, .product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .size-list .size-item .size-name,
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .color-list .size-item .size-name, .product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .size-list .size-item .size-name,
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .color-list .size-item .size-name, .homepage .homepage-wrapper .homepage-content .card-carousel .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites .price-wrapper,
.favorites .delivery,
.favorites .discount-wrapper,
.favorites .total-price-wrapper, .favorites .favorites-wrapper .favorites-add-to-card, .accordion-item .accordion-header, .product-filtering .product-filtering-wrapper, .navbar .navbar-wrapper,
.navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper, .navbar .hamburger-menu .links-wrapper .dropdown .dropdown-item .dropdown-item-wrapper p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .hamburger-menu,
.navbar .search-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease-in-out;
  overflow: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 1rem;
  border-bottom: 1px solid #232221;
  z-index: 12333;
}
.navbar .navbar-wrapper,
.navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper {
  padding: 1rem 0.5rem;
}
.navbar .navbar-wrapper .content-wrapper:not(:last-child),
.navbar .hamburger-menu-wrapper .content-wrapper:not(:last-child),
.navbar .search-overlay-wrapper .content-wrapper:not(:last-child) {
  padding-right: 0.5rem;
}
.navbar .hamburger-menu {
  z-index: 12312312312321312000000;
  border-bottom: 1px solid #232221;
}
.navbar .hamburger-menu .links-wrapper .dropdown .new-products-title {
  font-size: 1.25rem;
  color: #232221;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.navbar .hamburger-menu .links-wrapper .dropdown .other-links {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.navbar .hamburger-menu .links-wrapper .dropdown .dropdown-item .dropdown-item-wrapper p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.navbar .hamburger-menu .links-wrapper .dropdown .dropdown-item .dropdown-item-wrapper p img {
  max-width: 100%;
}
.navbar .hamburger-menu .links-wrapper .dropdown .dropdown-item .dropdown-item-wrapper .dropdown-content ul {
  margin-bottom: 0;
}
.navbar .hamburger-menu .links-wrapper .dropdown .dropdown-item .dropdown-item-wrapper .dropdown-content ul li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #232221;
}
.navbar .hamburger-menu .links-down-wrapper {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.navbar .hamburger-menu .links-down-wrapper .navbar-links-down .navbar-links-down-grouper {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.navbar .hamburger-menu .links-down-wrapper .navbar-links-down .navbar-links-down-grouper img {
  margin-right: 0.5rem;
}
.navbar .hamburger-menu .links-down-wrapper .navbar-links-down .navbar-links-down-grouper p {
  font-size: 1.25rem;
  margin-bottom: 0;
  font-style: italic;
}
@media (min-width: 1024px) {
  .navbar .hamburger-menu .links-down-wrapper {
    padding-left: 15px;
  }
}
.navbar .search-overlay {
  z-index: 123123121222122210000;
}
.navbar .search-overlay .search-overlay-wrapper input {
  width: 100%;
  height: 2rem;
  border: 1px solid #C2C2C2;
  border-radius: 0.6rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
}
.navbar .search-overlay .search-overlay-wrapper input::-moz-placeholder {
  color: #C2C2C2;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.navbar .search-overlay .search-overlay-wrapper input::placeholder {
  color: #C2C2C2;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.hamburger-menu.open,
.search-overlay.open {
  right: 0;
}

.dropdown .new-products-title {
  text-decoration: underline;
}
.dropdown .dropdown-item .dropdown-item-wrapper .dropdown-content ul {
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .dropdown {
    padding-left: 0.9375rem;
  }
}

.homepage {
  padding-top: calc(112.59px + 1rem);
  width: 100%;
  background: linear-gradient(180deg, #FFDBDB 0.05%, #FDFDFD 93.1%, #FDFDFD 110.6%, #8A8328 152.03%);
}
.homepage .banner {
  display: flex;
  justify-content: flex-end;
}
.homepage .banner.second-image-text-content {
  justify-content: flex-start;
}
.homepage .banner .banner-wrapper {
  position: relative;
  margin-bottom: 9.7rem;
}
.homepage .banner .banner-wrapper .circle-banner {
  position: absolute;
  bottom: -7.5rem;
  left: -1px;
}
.homepage .banner.second-image-text-content .banner-wrapper .circle-banner {
  left: auto;
  right: -1px;
}
.homepage .homepage-wrapper .homepage-content .card-carousel {
  margin-bottom: 4rem;
}
.homepage .homepage-wrapper .homepage-content .card-carousel h2 {
  text-align: center;
  font-family: "Cormorant Infant", sans-serif;
}
.homepage .homepage-wrapper .homepage-content .card-carousel .arrow-wrapper {
  margin-top: 0.5rem;
}

.product-card .product-card-wrapper img {
  margin-bottom: 0.5rem;
}
.product-card .product-card-wrapper .product-title {
  color: #232221;
  margin-bottom: 0.5rem;
}
.product-card .product-card-wrapper .product-price {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #232221;
}

.product-page {
  margin-top: calc(112.59px + 1rem);
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (min-width: 1024px) {
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-detail-page {
  color: #232221;
  margin-top: calc(112.59px + 1rem);
}
.product-detail-page .product-detail-wrapper {
  max-width: 600px;
}
.product-detail-page .product-detail-wrapper .cart-favorites-wrapper {
  position: fixed;
  max-width: inherit;
  z-index: 12;
  padding: 0 15px;
  right: 0;
  top: 40%;
  max-width: 100%;
}
.product-detail-page .product-detail-wrapper .content-grouper-one .product-title {
  font-size: 1.25rem;
  color: #232221;
  font-family: "Gothic A1", sans-serif;
}
.product-detail-page .product-detail-wrapper .content-grouper-one img {
  margin-bottom: 0.5rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper {
  position: relative;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .arrow-left-icon,
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .arrow-right-icon {
  position: absolute;
  bottom: 44%;
  cursor: pointer;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .arrow-left-icon {
  left: -12px;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .arrow-right-icon {
  right: -12px;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image {
  display: flex;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image:not(:last-child) {
  margin-right: 0.5rem;
}
@media (max-width: 381px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 345px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 313px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 279px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 251px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 451px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 529px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 607px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image .product-image {
    width: 150px;
    height: 150px;
  }
}
.product-detail-page .product-detail-wrapper .content-grouper-three .product-price {
  font-size: 1.25rem;
  font-family: "Gothic A1", sans-serif;
}
.product-detail-page .product-detail-wrapper .content-grouper-three .content-wrapper {
  display: flex;
  align-items: center;
}
.product-detail-page .product-detail-wrapper .content-grouper-three .content-wrapper button {
  margin-right: 0.5rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-three .content-wrapper button .added-to-card-button {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-three .content-wrapper button .cart-button {
  font-size: 0.7rem;
  color: #666560;
}
.product-detail-page .product-detail-wrapper .content-grouper-three::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper {
  display: flex;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .product-sizes {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown {
  padding: 0;
  margin: 0;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .size-list,
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .color-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .size-list .size-item,
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .color-list .size-item {
  display: flex;
  align-items: center;
}
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .size-list .size-item .size-name,
.product-detail-page .product-detail-wrapper .content-grouper-four .content-grouper-four-wrapper .dropdown .dropdown-content .color-list .size-item .size-name {
  background-color: #FFDBDB;
  width: 30px;
  height: 30px;
  font-size: 0.8125rem;
  border-radius: 0.4rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-four::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper {
  display: flex;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown {
  margin: 0;
  padding: 0;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .size-list,
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .color-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .size-list .size-item,
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .color-list .size-item {
  display: flex;
  align-items: center;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .size-list .size-item .size-name,
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .dropdown .dropdown-content .color-list .size-item .size-name {
  background-color: #FFDBDB;
  padding: 0 0.7rem;
  height: 30px;
  font-size: 0.8125rem;
  border-radius: 0.4rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .content-grouper-five-wrapper .product-colors {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.product-detail-page .product-detail-wrapper .content-grouper-five .product-condition .product-condition-span {
  font-size: 0.8125rem;
  text-decoration: underline;
  margin-left: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-five::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-six .content-grouper-six-wrapper .product-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-six .content-grouper-six-wrapper .product-tags div {
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.6rem;
  padding: 0.3rem 0.5rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-six .content-grouper-six-wrapper .product-tags div:not(:last-child) {
  margin-right: 1rem;
}
@media (max-width: 569px) {
  .product-detail-page .product-detail-wrapper .content-grouper-six .content-grouper-six-wrapper .product-tags div {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 569px) {
  .product-detail-page .product-detail-wrapper .content-grouper-six .content-grouper-six-wrapper .product-tags {
    margin-bottom: 0.5rem;
  }
}

.quantity-selector {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.quantity-selector .product-quantity {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}
.quantity-selector .quantity {
  padding: 0 0.5rem;
}

.content-grouper-seven .related-products {
  font-size: 1.25rem;
}
.content-grouper-seven .pagination {
  width: 100%;
  margin-top: 0.5rem;
}
.content-grouper-seven .pagination .pagination-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-grouper-seven .pagination .pagination-wrapper span {
  cursor: pointer;
  position: relative;
  color: #232221;
  font-size: 1.25rem;
  font-family: "Cormorant Garamond";
}
.content-grouper-seven .pagination .pagination-wrapper span.active {
  color: #FF5B29;
}
.content-grouper-seven .pagination .pagination-wrapper span:not(:last-child) {
  margin-right: 0.5rem;
  padding-right: 0.4rem;
}
.content-grouper-seven .pagination .pagination-wrapper span:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #232221;
  border-radius: 50%;
  top: 60%;
  left: 100%;
  transform: translateY(-50%);
  display: block;
  margin-right: 10px;
}
.content-grouper-seven .pagination .pagination-wrapper .span-left,
.content-grouper-seven .pagination .pagination-wrapper .span-right {
  display: flex;
  align-items: center;
}

.product-filtering .product-filtering-wrapper .content-two .sort-by {
  margin: 0 0.5rem 0 0;
}
.product-filtering .product-filtering-wrapper .content-two select {
  padding: 0.2rem 0.5rem;
  font-size: 0.8125rem;
  border: 1px solid #C2C2C2;
  border-radius: 0.4rem;
  background-color: #fff;
  color: #C2C2C2;
  width: 6rem;
}

.filter-form {
  position: relative;
}
.filter-form .filter-form-window {
  padding-top: calc(112.59px + 1rem);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 10;
  background-color: #fff;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .filter-form .filter-form-window {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.filter-form .filter-form-window form .button-group {
  flex-direction: column;
}
.filter-form .filter-form-window form .button-group .filter-btn {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.filter-form .filter-form-window form .button-group .cancel-btn {
  margin-bottom: 0.5rem;
  width: 3.6rem;
}
.filter-form .filter-form-window.hidden {
  display: none;
}

form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
form .form-group input[type=checkbox] {
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #232221;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  outline: none;
}
form .form-group input[type=checkbox]:checked {
  background-color: #232221;
  border-color: #232221;
}
form .form-group label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.25rem;
}

.brand-page {
  width: 100%;
}
.brand-page .brand-page-wrapper {
  max-width: 600px;
  margin-top: calc(112.59px + 1rem);
}
.brand-page .brand-page-wrapper .text-content-wrapper {
  display: flex;
  align-items: center;
  img-width: 100%;
}
.brand-page .brand-page-wrapper .text-content-wrapper h2 {
  margin-bottom: 0;
}
.brand-page .brand-page-wrapper .content-wrapper ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.brand-page .brand-page-wrapper .content-wrapper ul li {
  margin-bottom: 0.5rem;
}

.gift-cards-page {
  margin-top: calc(77px + 1rem);
}

.footer {
  background: linear-gradient(to bottom, #fff, #f7e7e7, #f7e1e1);
  padding: 1rem 0 2rem;
}
.footer .footer-container .footer-wrapper .footer-links-wrapper {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .footer-wrapper .footer-links-wrapper a {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #232221;
}
.footer .footer-container .footer-wrapper .footer-links-wrapper .last-footer-link {
  margin-bottom: 2rem;
}
.footer .footer-container .footer-wrapper form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #232221;
}
.footer .footer-container .footer-wrapper form label,
.footer .footer-container .footer-wrapper form input,
.footer .footer-container .footer-wrapper form button {
  margin-bottom: 1rem;
}
.footer .footer-container .footer-wrapper form input {
  border-radius: 0.6rem;
  padding: 0.8rem 0;
  border: none;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}
.footer .footer-container .social-links {
  margin-bottom: 2rem;
}
.footer .footer-container .social-links p {
  font-size: 1.25rem;
  color: #8A8328;
  font-style: italic;
}
.footer .footer-container .social-links a {
  display: flex;
  align-items: center;
}
.footer .footer-container .social-links a:not(:last-child) {
  margin-bottom: 1rem;
}
.footer .footer-container .social-links a p {
  margin-bottom: 0;
  padding-left: 0.5rem;
  color: #232221;
}
.footer .footer-container .copyright {
  font-size: 0.8125rem;
  margin-bottom: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcrumbs span {
  display: flex;
  align-items: center;
}
.breadcrumbs span img {
  margin: 0 0.5rem;
}

.accordion-item {
  border: 1px solid #C2C2C2;
  margin-bottom: 1rem;
  background-color: #fff;
}
.accordion-item .accordion-header {
  padding: 1.5rem 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.accordion-item .accordion-header .accordion-span-text {
  color: #8A8328;
}
.accordion-item .accordion-content {
  padding: 0 0.5rem 1rem;
}

.slider {
  width: 7000px;
  padding: 0.3rem 0;
  border-top: 1px solid #232221;
  color: #232221;
  font-size: 1.25rem;
  z-index: 0;
  background: linear-gradient(135deg, #fff7f7 0%, #ffdbdb 11%, #ffc3c3 29%);
}
.slider .wrapper {
  display: flex;
}
.slider .wrapper span {
  margin-right: 1rem;
}

.slider > * {
  display: inline-block;
  animation: text 60s infinite linear;
}

@keyframes text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4135px);
  }
}
.favorites {
  margin-top: calc(112.59px + 1rem);
}
.favorites .favorites-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
@media (min-width: 600px) {
  .favorites .favorites-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .favorites .favorites-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.favorites .favorites-wrapper .favorites-add-to-card .favorites-grouper {
  display: flex;
  align-items: center;
}
.favorites .favorites-wrapper .favorites-add-to-card .favorites-grouper img {
  margin-right: 0.5rem;
}
.favorites .favorites-wrapper .favorites-add-to-card .favorites-grouper p {
  margin-bottom: 0;
  font-size: 1.25rem;
  font-style: italic;
}
.favorites .favorites-wrapper .favorites-add-to-card .favorites-grouper p:not(:last-child) {
  margin-right: 0.5rem;
}
.favorites .favorites-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.favorites::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.favorites .price {
  margin-top: 0.5rem;
}
.favorites .price-wrapper,
.favorites .delivery,
.favorites .discount-wrapper,
.favorites .total-price-wrapper {
  font-family: century;
  font-size: 1.25rem;
  color: #666560;
}
.favorites .delivery p {
  color: #8A8328;
}
.favorites .delivery p span {
  color: #8A8328;
}
.favorites .discount .discount-wrapper p {
  color: #FF5B29;
}
.favorites .discount .discount-wrapper p span {
  color: #FF5B29;
}
.favorites .discount::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
}
.favorites .total-price {
  color: #232221;
}
.favorites .total-price::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(99.4deg, #FFF0BF -10.68%, #EFC990 18.14%, #FDD292 43.87%, rgba(240, 199, 73, 0.42) 81.17%, #D4AF37 100%);
  margin-bottom: 1rem;
}
.favorites .continue-or-erase {
  display: flex;
}
.favorites .continue-or-erase button {
  margin-right: 1rem;
}

.about-us {
  padding-top: calc(112.59px + 1rem);
}
.about-us .about-us-wrapper {
  max-width: 600px;
}
.about-us .about-us-wrapper .text-content-wrapper h2 {
  margin-bottom: 0;
}
.about-us .about-us-wrapper .button-wrapper {
  margin-bottom: 2rem;
}
.about-us .about-us-wrapper .button-wrapper button {
  width: 50%;
  border: none;
  padding: 0.5rem 0;
  background-color: #FFDBDB;
  color: #504E21;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
}
.about-us .about-us-wrapper .button-wrapper .btn1 {
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border-right: 1px solid #C2C2C2;
}
.about-us .about-us-wrapper .button-wrapper .btn2 {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
.about-us .about-us-wrapper .content-wrapper img,
.about-us .about-us-wrapper .second-content-wrapper img {
  margin-bottom: 2rem;
}
.about-us .about-us-wrapper .content-wrapper h2,
.about-us .about-us-wrapper .second-content-wrapper h2 {
  margin-bottom: 2rem;
}

.active {
  opacity: 0.8;
}

.contact-us {
  padding-top: calc(112.59px + 1rem);
}
.contact-us .contact-us-wrapper {
  width: 600px;
}
.contact-us .contact-us-wrapper .text-content-wrapper h2 {
  margin-bottom: 0;
}
.contact-us .contact-us-wrapper .content-wrapper {
  text-align: center;
}
.contact-us .contact-us-wrapper .content-wrapper img {
  margin-bottom: 2rem;
}
.contact-us .contact-us-wrapper .content-wrapper h2 {
  margin-bottom: 2rem;
}
.contact-us .contact-us-wrapper .content-wrapper h3 {
  font-size: 1.3rem;
}
.contact-us .contact-us-wrapper .content-wrapper .number {
  font-size: 1.25rem;
}
.contact-us .contact-us-wrapper .content-wrapper button {
  margin: 1rem 0;
}

.location .location-wrapper {
  padding-top: calc(112.59px + 1rem);
  width: 600px;
  flex-direction: column;
}
.location .location-wrapper .text-content-wrapper h2 {
  margin-bottom: 0;
}
.location .location-wrapper iframe {
  max-width: 100%;
}
@media (max-width: 500px) {
  .location .location-wrapper iframe {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 400px) {
  .location .location-wrapper iframe {
    width: 420px;
    height: 250px;
  }
}
.location .location-wrapper .breadcrumbs {
  align-self: flex-start;
}

.faq {
  padding-top: calc(112.59px + 1rem);
}
.faq .faq-wrapper {
  width: 600px;
}
.faq .faq-wrapper .text-content-wrapper h2 {
  margin-bottom: 0;
}
.faq .faq-wrapper .content-wrapper {
  border: 1px solid #C2C2C2;
  border-radius: 0.6rem;
}
.faq .faq-wrapper .content-wrapper .question-group {
  padding: 1rem;
}
.faq .faq-wrapper .content-wrapper .question-group:not(:last-child) {
  border-bottom: 1px solid #C2C2C2;
}
.faq .faq-wrapper .content-wrapper .question-group:nth-child(2n) {
  background-color: #FFF6F6;
}
.faq .faq-wrapper .content-wrapper .question-group .question {
  color: #8A8328;
  padding-left: 0.5rem;
}

.login {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF6F6;
}
.login .logo {
  margin-bottom: 2rem;
}
.login .login-wrapper {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
}
.login .login-wrapper form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.login .login-wrapper form .form-group label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-family: "Gothic A1", sans-serif;
  font-size: 0.8125rem;
}
.login .login-wrapper form .form-group input {
  width: 100%;
  background: transparent;
  border: 1px solid #C2C2C2;
  height: 40px;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.login .login-wrapper form .form-group input::-moz-placeholder {
  padding-left: 0.5rem;
}
.login .login-wrapper form .form-group input::placeholder {
  padding-left: 0.5rem;
}
.login .login-wrapper form .form-group input:focus {
  outline: none;
  box-shadow: none;
  border-color: #C2C2C2;
}
.login .login-wrapper form .form-group .or {
  margin: 1rem 0;
}
.login .login-wrapper form .form-group .button-wrapper button {
  margin-bottom: 1rem;
}
.login .login-wrapper form .form-group .button-wrapper button img {
  margin-right: 0.5rem;
}
.login .login-wrapper form .form-group .register-span {
  color: #8A8328;
  text-decoration: underline;
  margin-left: 0.2rem;
}
.login .login-wrapper .sucessfull-login {
  padding: 2rem 0.5rem;
  border: 2px solid #FFDBDB;
  border-radius: 0.6rem;
  text-align: center;
}
.login .login-wrapper .sucessfull-login p {
  color: #232221;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.login .login-wrapper .sucessfull-login button {
  color: #fff;
  margin-bottom: 1rem;
}

.pre-register {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF6F6;
}
.pre-register .logo {
  margin-bottom: 2rem;
}
.pre-register .pre-register-wrapper {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
}
.pre-register .pre-register-wrapper .or {
  margin: 1rem 0;
  text-align: center;
}
.pre-register .pre-register-wrapper button {
  margin-bottom: 1rem;
}
.pre-register .pre-register-wrapper button img {
  margin-right: 0.5rem;
}
.pre-register .pre-register-wrapper p {
  text-align: center;
  color: #232221;
}
.pre-register .pre-register-wrapper p .login-span {
  color: #8A8328;
  text-decoration: underline;
  margin-left: 0.2rem;
}

.register {
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #FFF6F6;
}
.register img {
  margin-bottom: 2rem;
}
.register .register-wrapper {
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}
.register .register-wrapper form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.register .register-wrapper form .form-group label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-family: "Gothic A1", sans-serif;
  font-size: 0.8125rem;
}
.register .register-wrapper form .form-group input,
.register .register-wrapper form .form-group textarea {
  width: 100%;
  background: transparent;
  border: 1px solid #C2C2C2;
  height: 40px;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
.register .register-wrapper form .form-group input::-moz-placeholder, .register .register-wrapper form .form-group textarea::-moz-placeholder {
  padding-left: 0.5rem;
}
.register .register-wrapper form .form-group input::placeholder,
.register .register-wrapper form .form-group textarea::placeholder {
  padding-left: 0.5rem;
}
.register .register-wrapper form .form-group input:focus,
.register .register-wrapper form .form-group textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: #C2C2C2;
}
.register .register-wrapper form .form-group textarea {
  height: 80px;
}
.register .register-wrapper form .form-group .error-message {
  font-size: 0.8rem;
  color: #FF5B29;
}
.register .register-wrapper form .image-upload-group {
  margin-bottom: 2rem;
}
.register .register-wrapper form .image-upload-group img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.register .register-wrapper form .image-upload-group .image-input {
  display: none;
}
.register .register-wrapper form .image-upload-group .btn-wrapper .image-button {
  text-align: center;
  background-color: #E2E2E2;
  padding: 0.3rem 0.5rem;
  border-radius: 0.6rem;
}
.register .register-wrapper form .notifications {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.register .register-wrapper form .notifications img {
  margin-right: 0.5rem;
}
.register .register-wrapper form .notifications img,
.register .register-wrapper form .notifications p,
.register .register-wrapper form .notifications label {
  margin-bottom: 0;
  font-size: 0.8rem;
}
.register .register-wrapper form .notifications .thanks-for-subscribe {
  color: rgb(0, 179, 0);
}
.register .register-wrapper form button {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.register .register-wrapper .privacy-policy {
  font-size: 0.8rem;
  color: #232221;
}
.register .register-wrapper .privacy-policy span {
  font-weight: bold;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */