@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Cormorant Garamont";
}

a {
  text-decoration: none;
}

.container, .homepage, .dropdown, .navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .container, .homepage, .dropdown, .navbar .hamburger-menu-wrapper,
  .navbar .search-overlay-wrapper {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.product-detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbar-wrapper,
.navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .hamburger-menu,
.navbar .search-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease-in-out;
}

.navbar .navbar-wrapper,
.navbar .hamburger-menu-wrapper,
.navbar .search-overlay-wrapper {
  padding: 1rem 0;
}
.navbar .navbar-wrapper .content-wrapper:not(:last-child),
.navbar .hamburger-menu-wrapper .content-wrapper:not(:last-child),
.navbar .search-overlay-wrapper .content-wrapper:not(:last-child) {
  padding-right: 0.5rem;
}
.navbar .search-overlay .search-overlay-wrapper input {
  width: 100%;
  height: 2rem;
  border: 1px solid #C2C2C2;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-right: 8px;
}
.navbar .search-overlay .search-overlay-wrapper input::-moz-placeholder {
  color: #C2C2C2;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.navbar .search-overlay .search-overlay-wrapper input::placeholder {
  color: #C2C2C2;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.hamburger-menu.open,
.search-overlay.open {
  right: 0;
}

.dropdown .new-products-title {
  text-decoration: underline;
}
.dropdown .dropdown-item .dropdown-item-wrapper .dropdown-content ul {
  padding-left: 1rem;
}
@media (min-width: 1024px) {
  .dropdown {
    padding-left: 0.9375rem;
  }
}

.homepage {
  font-family: "Cormorant Garamont";
}
.homepage img {
  width: 400px;
}

.product-card .product-card-wrapper img {
  margin-bottom: 0.5rem;
}
.product-card .product-card-wrapper .product-title {
  color: #666560;
  margin-bottom: 0.5rem;
}
.product-card .product-card-wrapper .product-price {
  margin-bottom: 0.5rem;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
@media (min-width: 1024px) {
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-detail-page .product-detail-wrapper {
  max-width: 625px;
}
.product-detail-page .product-detail-wrapper .content-grouper-one img {
  margin-bottom: 0.5rem;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image {
  display: flex;
  justify-content: space-between;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
.product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img:not(:last-child) {
  margin-right: 0.5rem;
}
@media (max-width: 381px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 345px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 313px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 279px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 251px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 451px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 529px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 607px) {
  .product-detail-page .product-detail-wrapper .content-grouper-two .images-wrapper .image img {
    width: 150px;
    height: 150px;
  }
}/*# sourceMappingURL=main.css.map */